<%= erb :'partials/_header' %>
<p>

  <p>
    <a href="/squads/<%= @squad["squad_id"]%>/students"><i class="fa fa-arrow-circle-left"></i></a>
  </p>

  <p>
    <h1>
      Edit '<%= @student["name"] %>'
    </h1>
  </p>

<p>

  <form action="/squads/<%= @squad["squad_id"] %>/students/<%= @student["id"]%>" class="pure-form" method="POST">
    <input type="hidden" class="pure-input-1-4" name="_method" value="PUT">
    <p>
      <input type="text" class="pure-input-1-4" name="name" value="<%= @student["name"] %>" autofocus>
    </p>
    <p>
      <input type="text" class="pure-input-1-4" name="position" value="<%= @student["position"] %>" autofocus>
    </p>
    <p>
      <input type="text" class="pure-input-1-4" name="age" value="<%= @student["age"] %>" autofocus>
    </p>
    <p>
      <button type="submit" class="button-large pure-button"> <i class="fa fa-wrench"></i> Submit </button>
    </p>
  </form>

  <form action="/squads/<%= @squad["squad_id"]%>/students/<%= @student["id"]%>" class="pure-form" method="POST">
  <input type="hidden" class="pure-input-1-2" name="_method" value="DELETE">
  <p><button type="submit" class="button-large2 pure-button" value=""><i class="fa fa-trash-o"></i>&nbsp;Delete&nbsp;</button>
  </form></p>

</p>
<%= erb :'partials/_footer' %>