<%= erb :'partials/_header' %>
  <p>
    <a href="/squads"> <i class="fa fa-arrow-circle-left"></i></a>
  </p>

  <p>
    <h1>
      Roster for '<%= @squad["name"]%>'
    </h1>
  </p>

<p>

  <table class="pure-table pure-table-horizontal">
    <thead>
      <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Age</th>
        <th>Info</th>
        <th>Edit</th>
      </tr>
    </thead>

    <tbody>
      
    <% @students.each do |student| %>
      <tr>       
        <td>
          <%= student["name"]%>
        </td>
        <td>
          <%= student["position"]%>
        </td>
        <td>
          <%= student["age"]%>
        </td>
        <td class="center">
          <a href="/squads/<%= @squad["squad_id"]%>/students/<%= student["id"] %>"><i class="fa fa-info-circle"></i></a>
        </td>
        <td class="center">
          <a href="/squads/<%= @squad["squad_id"]%>/students/<%= student["id"] %>/edit"><i class="fa fa-pencil"></i></a>
        </td>
      </tr>
    <% end %>

    </tbody>
  </table>

</p>

<p>

  <a href="/squads/<%= @squad["squad_id"]%>/students/new"><button type="text" class="button-large pure-button"><i class="fa fa-plus-circle"></i> &nbsp;Add a student&nbsp;</button></a>

</p>

<%= erb :'partials/_footer' %>