<%= erb :'partials/_header' %>
  <p>
    <a href="/squads"><i class="fa fa-arrow-circle-left"></i></a>
  </p>

  <p>
    <h1>
      Info about '<%= @squad["name"]%>'
    </h1>
  </p>

<p>

  <table class="pure-table pure-table-horizontal">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Mascot</th>
        <th>Edit</th>
        <th>Roster</th>
      </tr>
    </thead>

    <tbody>

      <tr>
        <td>
          <%= @squad["squad_id"]%>
        </td>        
        <td>
          <%= @squad["name"]%>
        </td>
        <td>
          <%= @squad["mascot"]%>
        </td>
        <td class="center">
          <a href="/squads/<%= @squad["squad_id"] %>/edit"><i class="fa fa-pencil"></i></a>
        </td>
        <td class="center">
          <a href="/squads/<%= @squad["squad_id"] %>/students"><i class="fa fa-list-ul"></i></a>
        </td>
      </tr>

    </tbody>
  </table>

</p>

<%= erb :'partials/_footer' %>